@page
@model BPCalculator.Pages.BloodPressureModel

@{
    ViewData["Title"] = "BP Category Calculator";
}


<h4>BP Category Calculator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="form1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BP.Systolic" class="control-label"></label>
                <input asp-for="BP.Systolic" class="form-control"/>
                <span asp-validation-for="BP.Systolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BP.Diastolic" class="control-label"></label>
                <input asp-for="BP.Diastolic" class="form-control" />
                <span asp-validation-for="BP.Diastolic" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-outline-secondary" id="button_submit" />
            </div>
            <br/>
            @if (ViewData.ModelState.IsValid)
            {
                var alertClass = "form-group alert " +
                                 Model.BP.Category switch
                                 {
                                     BPCategory.Ideal => "alert-success",
                                     BPCategory.PreHigh => "alert-warning",
                                     BPCategory.High => "alert-danger",
                                     _ => "alert-info"
                                 };

                <div class="@alertClass" role="alert" id="alert_result">
                    @Html.DisplayFor(model => model.BP.Category, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div id="charts" class="row">
                    <div id="chart_div_systolic" class="col-sm-6"></div>
                    <div id="chart_div_diastolic" class="col-sm-6"></div>
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ChartsScriptsPartial");}

    <script>drawChart();</script>
}